/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #0A3641;
  --color-secondary: #F6FCFF;

  /* colors */
  --green: #0A3641;
  --green-40: rgba(10, 54, 65, 0.4);
  --green-20: rgba(10, 54, 65, 0.2);
  --teal: #027372;
  --teal-hover: #009392;
  --lightblue: #C4EBFF;
  --lightblue-50: rgba(196, 235, 255, 0.5);
  --yellow: #FCA311;
  --yellow-hover: #FFBC4D;
  --teal-border-hover: #156579;
  --link-color: var(--green);
  --delete: #960000;

  /* shades */
  --black: #101010;
  --gray-4: #595D62;
  --gray-3: #969696;
  --gray-2: #dedede;
  --gray-1: #f5f5f5;
  --white: #fff;

  /* feedback */
  --color-success: #28C373;
  --color-error: #CC2E22;
  --color-warning: #F0BF4E;

  /* typography */
  --color-text: var(--color-primary);
  --color-text-heading: var(--color-primary);
  --color-link: var(--yellow);

  /* body */
  --color-body: var(--white);

  --padding-x: 180px;
  --ipad-padding-x: 60px;
  --mobile-padding-x: 40px;
  
  /* icons */
  --color-icon-primary: var(--color-primary);
  --color-icon-secondary: var(--white);

}

/* fonts */
body {
  font-family: "muli", Verdana, sans-serif;
}

h1,
h2,
h3
h4 {
  font-family: "Noto Sans", serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
}

h1.small {
  font-family: "Noto Sans", serif;
  font-weight: 500;
}

.cta-md,
.cta-sm {
  font-family: "Noto Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.cta-l {
  font-family: "Noto Sans", serif;
  font-weight: 500;
  font-style: normal;
}

.cta-l{
  font-size: 18px;
}

.cta-md {
  font-size: 16px;
}

.cta-sm {
  font-size: 12px;
}

.dropdown {
  font-family: "Noto Sans", serif;
  font-weight: 600;
  font-style: normal;
}

.dropdown-content {
  font-family: "muli", Verdana, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.increment {
  font-family: "Noto Sans", serif;
  font-weight: 600;
  font-style: normal;
}

/* Prices */
.free-delivery,
.cart-info {
  font-family: "Noto Sans", serif;
  font-weight: 500;
  color: var(--green);
  font-size: 1.25rem;
  margin: 8px 0px 12px 0px;
}

.cart-info {
  opacity: 0.5;
}

.price {
  font-family: "Noto Sans", serif;
  font-weight: 800;
  color: var(--teal);
  font-size: 1.25rem;
  margin: 8px 0px 12px 0px;
}

.price-large {
  font-family: "Noto Sans", serif;
  font-weight: 800;
  color: var(--teal);
  font-size: 3rem;
  margin: 32px 0px;
}

/* Radio Buttons */
.radio-title {
  font-weight: bold;
  font-size: 1.125rem;
}

.radio-subtitle {
  font-weight: 500;
  font-size: 1.125rem;
  opacity: 0.5;
}

/* Cart navigation */
.cta-circle,
.cta-circle-active  {
  font-family: "Noto Sans", serif;
  font-weight: 700;
  font-size: 1rem;
}

.cart-process p {
  font-family: "muli", Verdana, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Image cta */
.image-cta h2 {
  font-family: "Noto Sans", serif;
  font-weight: 600;
}
