
.two-colums {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.left-colum {
    display: flex;
    flex: 0;
    flex-direction: column;
    gap: 40px;
  }

.right-column {
    display: flex;
    flex: 0;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    max-width: 800px;
}

.right-column h3 {
    margin: 0px 0px 16px 0px;
}

/* Cart navigation */
.center-nav {
    display: flex;
    flex-direction: column;
}
.cart-process {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 220px;
    min-width: 100%;
    align-self: center;
}

.cta-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    padding: 8px 14px;
    border-radius: 24px;
    border: 1.5px solid var(--green);
    color: var(--green);
}

.cta-circle-active {
    display: inline-flex;
    padding: 8px 14px;
    border-radius: 24px;
    border: 1.5px solid var(--teal);
    background-color: var(--teal);
    color: var(--white);
}

hr.cart {
    flex-grow: 1;
    height: 2px;
    background-color: var(--green);
    border: none;
}



/* Product card */
.delete {
    height: 24px;
    width: auto;
    cursor: pointer;
}

.delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--delete);
}

.product-card-y {
    display: flex;
    position: relative;
    align-items: center;
    gap: 16px;
}

.product-card-y h3{
    margin: 0px 0px 8px 0px;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: left;
}

.product-details span {
    display: flex;
}

.product-details p.bullet {
    display: none;
    margin: 0px 0px 4px 0px;
}

.product-details-flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.product-numbers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-card-y img{
    width: 120px;
    height: 200px;
    border-radius: 8px;
}

/* Increment */
/* Inspired by: - https://www.youtube.com/watch?v=uliYkHK3pKg 21.march-25*/
.increment {
    height: 35px;
    width: 98px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1.5px solid var(--green);
    background: var(--gray-1)
}

.increment span {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.125rem;

}

.increment span.num {
    border-left: 2px solid var(--green);
    border-right: 2px solid var(--green);
    background: var(--white);
    padding: 0 10px;
}

.increment svg {
    width: 15px;
    height: 15px;
}

.increment span.minus,
.increment span.plus {
    cursor: pointer;
    background: var(--gray-1);
    padding: 17px 10px;
}

/* Coupon */
.coupon,
.coupon-flex {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

a.add-coupon {
    text-transform: uppercase;
    text-decoration: none;
}

.coupon-flex div {
    height: 24px;
}

.coupon-icon {
    height: 28px;
    width: auto;
}

/* Total amount */
.cart-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart-item,
.cart-total {
    display: flex;
    justify-content: space-between;
}

.cart-total {
    margin-top: 24px;
}

.cart-item span,
.cart-total span {
    margin: 0;
}

/* Buttons */
.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 18px;
}


/* Payment methods */
.payment-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 16px 0px;
}

.payment-methods img {
    width: 48%;
    height: auto;
    object-fit:contain;
}

.ntb {
    max-width: 110px;
}
.payquick{
    max-width: 180px;
}
.neopay{
    max-width: 120px;
}
.payswift{
    max-width: 115px;
}

