
.two-colums {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.left-colum {
    display: flex;
    flex: 0;
    flex-direction: column;
    gap: 40px;
}

.right-column {
    display: flex;
    flex: 0;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center-form {
    width: 100%;
    max-width: 700px;
}

.form-margin h3 {
    margin: 0px 0px 16px 0px;
}

.center-column h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.hero-title {
    color: var(--green, #0A3641);
    display: flex;
    flex-direction: column;
    align-items: left;
}

.hero-title-teal {
    color: var(--teal, #027372);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title-teal h1 {
    font-weight: 600;
    text-align: center;
}

.hero-title-teal svg {
    height: auto;
    width: 200px;
}

.order-confirmed {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.order-confirmed p {
    margin: 0px 0px 32px 0px;
    text-align: center;
}

.order-cfm {
    display: flex;
    flex-direction: column;
}

.order-cfm-title,
.order-cfm-subtitle {
    margin: 0;
}

.order-column {
    display: flex;
    flex: 0;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.cart-form {
    max-width: 700px;
}

/* Cart navigation/ stepper */
/* Code inspiration from: 
Building A Stepper Component
@publisher: A. Shadeed
@date: 2023-03-28
@link: https://ishadeed.com/article/stepper-component-html-css/
*/
.stepper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 40px auto auto auto;
    position: relative;
}

.step {
    text-align: center;
    position: relative;
    flex: 1;
}

/* Connecting line between steps */
/* Code information from: 
:first-child, :last-child, :nth-child, and :not(:nth-child)
@publisher: C. Goodwin
@date: 2023-03-28
@link: https://dockyard.com/blog/2017/12/20/first-child-last-child-nth-child-and-not-nth-child
*/

.step:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -50%;
    width: 100%;
    height: 2px;
    background-color: #003d3b;
    z-index: 1;
}

  /* Circle (step number) */
.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    position: relative;
    z-index: 2;
    margin: auto;
}
  
/* Active step styling */
.step.not-active .circle {
    background: var(--color-secondary, #F6FCFF);
    border: 1.5px solid var(--green, #0A3641);
    color: var(--green, #0A3641);
}

.step.active .circle {
    background: var(--teal, #027372);
    color: var(--white, #fff);
}

/* Code information from: 
Wrapping and breaking text
@publisher: MDN contributors
@date: 2023-03-28
@link: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_text/Wrapping_breaking_text
*/
.step p {
    display: inline-block;
    overflow-wrap: break-word;
    width: 100%;
}

.step p span {
    display: block;
}

/* Product card */
.delete {
    height: 24px;
    width: auto;
    cursor: pointer;
}

.delete-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    color: var(--delete, #960000);
}
 
.product-card-y {
    display: flex;
    position: relative;
    align-items: center;
    gap: 16px;
}

.product-card-y h2,
.center-column h2 {
    margin: 0px 0px 8px 0px;
    font-size: 1.25rem;
    font-weight: 600;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: left;
}

.product-details span {
    display: flex;
}

.product-details span #text {
    text-overflow: ellipsis;
}

.product-details p.bullet {
    display: none;
    margin: 0px 0px 4px 0px;
}

.product-details-flex {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.product-numbers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product-card-y img{
    width: 120px;
    height: 200px;
    border-radius: 8px;
}

/* Increment */
/* Code inspired by: 
Button with Increment and Decrement Number | HTML CSS and JavaScript
@publisher: CodingLab
@date: 2025-03-21
@link: https://www.youtube.com/watch?v=uliYkHK3pKg
*/
.increment {
    height: 35px;
    width: 98px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1.5px solid var(--green, #0A3641);
    background: var(--gray-1, #f5f5f5);
}

.increment span {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.125rem;

}

.increment span.num {
    border-left: 2px solid var(--green, #0A3641);
    border-right: 2px solid var(--green, #0A3641);
    background: var(--white, #fff);
    padding: 0 10px;
}

.increment svg {
    width: 15px;
    height: 15px;
}

.increment span.minus,
.increment span.plus {
    cursor: pointer;
    background: var(--gray-1, #f5f5f5);
    padding: 17px 10px;
}

/* Coupon */
.coupon,
.coupon-flex {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
}

a.coupon-flex {
    text-transform: uppercase;
    text-decoration: none;
}

.coupon-flex div {
    height: 24px;
}

.coupon-icon {
    height: 28px;
    width: auto;
}

/* Total amount */
.cart-box{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cart-item,
.cart-total {
    display: flex;
    justify-content: space-between;
}

.cart-total {
    margin-top: 24px;
}

.cart-item span,
.cart-total span {
    margin: 0;
}

.free-delivery {
    text-align: right;
}

/* Buttons */
.cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 18px;
}


/* Payment methods */
.payment-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin: 16px 0px;
}

.payment-methods img {
    width: 48%;
    height: auto;
    object-fit:contain;
}

.ntb {
    max-width: 110px;
}

.ntb-sm {
    max-width: 90px;
}

.payquick {
    max-width: 180px;
}

.payquick-sm {
    max-width: 120px;
}

.neopay {
    max-width: 120px;
}

.neopay-sm {
    max-width: 90px;
}

.payswift {
    max-width: 115px;
}

.payswift-sm {
    max-width: 100px;
}

.mt-cart-button {
    margin-top: 24px;
}

hr.cart-line {
    height: 1.5px;
    background-color: var(--green-20, rgba(10, 54, 65, 0.2));
    border: none;
    margin: 8px 0px 24px 0px;
}

hr.margin-l {
    margin: 40px 0px 40px 0px;
}

