.hero-image {
    width: 100%;
    max-height: 240px;
    object-fit: cover;
    object-position: 0% 90%;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .title-center {
    text-align: center;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    row-gap: 48px;
    margin-bottom: 72px;
  }
  
  .products img {
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .product-info {
    background-color: #fbfbfb;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
  
  .product-description {
    margin: 0px 0px 18px 0px;
  }
  
  .price {
    font-family: "Noto Sans", serif;
    font-weight: 800;
    color: var(--teal);
    font-size: 1rem;
    margin: 0;
  }
  
  .product-actions {
    display: flex;
    gap: 14px;
  }
  