/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 var(--mobile-padding-x);
}

/* Navigation */
nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

.absolute {
  position: absolute;
}

header {
  background: var(--color-primary);
  color: white;
  font-size: 1.5rem;
  margin: 0px;
  width: 100%;
}

nav {
  position: absolute;
  background: var(--color-secondary);
  left: 0px;
  padding: 0 var(--mobile-padding-x);
}

nav a {
  display: block;
  color: var(--color-primary);
  font-size: 1rem;
}

/* Logo */

.logo,
.logo-green{
  filter: invert(16%) sepia(70%) saturate(521%) hue-rotate(145deg) brightness(93%) contrast(97%);
  height: 60px;
  width: auto;
}

footer .logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(193deg) brightness(106%) contrast(107%);
  height: 60px;
  width: auto;
  transition: all 0.3s;
}

/* Icons */

.nav-icons {
  display: flex;
  gap: 16px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon-nav {
  filter: invert(16%) sepia(70%) saturate(521%) hue-rotate(145deg) brightness(93%) contrast(97%);
  height: 24px;
  width: auto;
}

.icon-nav-green {
  filter: invert(16%) sepia(70%) saturate(521%) hue-rotate(145deg) brightness(93%) contrast(97%);
  height: 24px;
  width: auto;
}

/* Links */
a {
  text-decoration: none;
}

.contact-methods a {
  color: var(--yellow);
  text-decoration: underline;
}

/* Hero section */
.hero {
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%), url("../../assets/images/home-header.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 30px var(--mobile-padding-x);
  margin: 0 calc(var(--mobile-padding-x) *-1);
  color: white;
}

.hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

/* Footer */
footer {
  background: var(--color-primary);
  color: white;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: rgba(255,255,255, 0.4);
}

footer p {
  color: rgba(255,255,255, 0.4);
  margin: 0;
}

footer h3 {
  margin: 0;
}

@media (min-width: 768px) {
  .container {
    padding: 0 var(--padding-x);
  }

  header {
    background-color: transparent;
  }

  .static-header {
    position: static;
  }
  
 nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    padding: 0 var(--padding-x);
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
    display: inline-block;
    color: white;
  }

  .secondary-nav {
    padding: 0;
  }

  .hero {
    padding: 30px var(--padding-x);
    margin: 0 calc(var(--padding-x) *-1);
  }

  .hero-text {
    width: 66%;
  }

  .logo {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(193deg) brightness(106%) contrast(107%);
    height: 70px;
  }

  .logo-green{
    filter: invert(16%) sepia(70%) saturate(521%) hue-rotate(145deg) brightness(93%) contrast(97%);
    height: 70px;
  }

  .secondary-nav a {
    color: var(--green);
  }

  .nav-icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
  
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .icon-nav {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(193deg) brightness(106%) contrast(107%);
  }

  footer .logo {
    height: 70px;
  }
}


@media (min-width: 1024px) {
  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 80px;
  }
}