/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@import "imports/links.css";

/* Global styles */
body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.container,
.secondary-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 var(--mobile-padding-x);
}

.container-flex img{
  object-fit: cover;
  object-position: 50% 20%;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

/* Navigation */
nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

.absolute {
  position: absolute;
}

header {
  background: var(--color-primary);
  color: white;
  font-size: 1.5rem;
  margin: 0px;
  width: 100%;
}

.static-header {
  padding: 0 var(--mobile-padding-x);
}

nav {
  position: absolute;
  background: var(--color-secondary);
  left: 0px;
  padding: 0 var(--mobile-padding-x);
  margin-top: 0px;
  margin-bottom: 0px;
  transition: ease all .5s;
}

nav a {
  display: block;
  color: var(--color-primary);
  font-size: 1rem;
  white-space: nowrap;
}

/* Breadcrumb */
ul.breadcrumb {
  padding: 16px 0px 0px 0;
  margin: 0;
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
}

ul.breadcrumb li+li:before {
  color: var(--gray-3);
  content: "/\00a0";
  padding: 6px;
}

ul.breadcrumb li a {
  color: var(--gray-3);
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  text-decoration: underline;
}

.breadcrumb li {
  font-weight: 700;
}

/* Buttons */
.cta {
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
}

.cta-md {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px 16px;
}

.cta-sm {
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px 12px;
}

/* Contact button. Cart process button. */
.cta-green {
  background-color: var(--teal); /* Green */
  color: white;
  border: none;
  margin-bottom: 0px;
}

.cta-green:hover {
  background-color: var(--teal-hover);
  cursor: pointer;
  transition: color 0.3s;
}

/* Homepage header button */
.cta-yellow {
  background-color: var(--yellow); /* Yellow */
  color: var(--green);
  border: none;
}

.cta-yellow:hover {
  background-color: var(--yellow-hover);
  cursor: pointer;
  transition: color 0.3s;
}

/* Shop products. See products button. Cart process button. */
.cta-border {
  background-color: transparent; /* Transparent */
  color: var(--green);
  border: 1.5px solid var(--green);
}

.cta-border:hover {
  background-color: rgba(2, 115, 114, 0.2);
  color: var(--teal-border-hover);
  border: 1.5px solid var(--teal-border-hover);
  cursor: pointer;
  transition: color 0.3s;
}

/* Round button. Cart button. */
.cta-round {
  background-color: var(--yellow);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  padding: 8px;
}

.cta-round:hover {
  background-color: var(--yellow-hover);
}

/* Logo */

.logo,
.logo-green{
  filter: invert(16%) sepia(70%) saturate(521%) hue-rotate(145deg) brightness(93%) contrast(97%);
  height: 60px;
  width: auto;
}

/* Icons */
.nav-icons {
  display: flex;
  gap: 16px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon-nav {
  filter: invert(16%) sepia(70%) saturate(521%) hue-rotate(145deg) brightness(93%) contrast(97%);
  height: 24px;
  width: auto;
}

.icon-green {
  filter: invert(16%) sepia(70%) saturate(521%) hue-rotate(145deg) brightness(93%) contrast(97%);
  height: 24px;
  width: auto;
}

/* Links */
a {
  text-decoration: none;
}

.active {
  color: var(--yellow) !important;
  text-decoration: underline;
  text-underline-offset: 5px;
}


/* Footer */
footer {
  background: var(--color-primary);
  color: white;
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 40px;
}

footer .logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(193deg) brightness(106%) contrast(107%);
  height: 60px;
  width: auto;
  transition: all 0.3s;
  margin-top: 40px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: rgba(255,255,255, 0.4);
}

footer p {
  color: rgba(255,255,255, 0.4);
  margin: 0;
}

footer h4 {
  margin: 0;
}

footer a:hover {
  color: white;
  text-decoration: underline;
  transition: color 0.3s;
}

hr {
  border: rgba(255,255,255, 0.4);
  margin: 2em auto 1em auto;
  border-style: inset;
  border-width: 1px;
}

.copyright {
  padding-bottom: 30px;
}