/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

header {
  position: relative;
  background: #638fa5;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
}

nav {
  position: absolute;
  background: #638fa5;
  left: 0px;
}

nav a {
  display: block;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
}

@media (min-width: 600px) {
 nav {
    display: block;
    position: static;
  }

  .hamburger-icon {
    display: none;
  }

  nav a {
    display: inline-block;
  }

}